Button {
	-fx-font: 14px "Sans-serif";
	-fx-pref-width: 250;
	-fx-min-height: 45;
	-fx-background-color: #7CA982;
	-fx-text-fill: white;
	-fx-cursor:pointer;
}

Button:hover {

	 -fx-border-color: black;
	 -fx-background-color: linear-gradient(#e0eec6, #9A842B);
}
Button:focused {
	-fx-background-color: #243e36;
}